[submodule "External/ReactiveCocoa"]
  path = External/ReactiveCocoa
  url = https://github.com/ReactiveCocoa/ReactiveCocoa
  ignore = dirty

[submodule "External/External/Result"]
	path = External/External/Result
	url = https://github.com/antitypical/Result.git